body {
    background-color: rgb(48, 53, 53);
}

h1,h2,h3,h4,h5,p,label,form {
    color: blanchedalmond;
}

.container {
    /* padding-bottom: 60px; */
    display: inline-flex;
    padding-top: 30px;
    justify-content: center;
}